section.buttons {
  padding-top: 40px;
  text-align: center;
}

select#goal-type, select#goal-category, input.name-search {
  margin: 5px;
}

button.add-recurring {
  margin-top: 50px;
}

button.add-one-time {
  margin-top: 15px;
}

div.goals-filter {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

[type=submit], button {
  margin: 5px;
}

@media all and (min-width: 800px) {
  section.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  button.add-one-time, button.add-recurring {
    margin-left: 10px;
  }

  div.goals-filter {
    flex-direction: row;
  }
}