section.goal-summary-container, h1.total, .goal-item {
  text-align: center;
}

li.list-goal-item {
  list-style-type: none;
}

ul {
  padding: 0;
}

h2.goals-header {
  padding-left: 10px;
  text-align: center;
}

div.goal-item {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  margin: 10px;
}

div.button-container {
  display: flex;
  margin: 10px;
  justify-content: center;
}

@media all and (min-width: 800px) {
  div.goal-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  div.button-container {
    flex-direction: column;
    align-self: center;
  }
}




