div.goals-list {
  display: flex;
  flex-direction: column;
}

section.goal-summary-container, h1.total {
  text-align: center;
}

h2.goals-header {
  padding-left: 10px;
  text-align: start;
}

div.goal-item {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  margin: 10px;
  align-items: center;
}

div.button-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media all and (min-width: 800px) {
  div.goal-item {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
  div.button-container {
    flex-direction: column;
  }
}




