* {
	box-sizing: border-box;
}

html,
body {
	font-family: avenir;
	height: 100%;
	background-color: #f1f2eb;
}

div.app {
	display: flex;
	flex-direction: column;
}

main.main-app {
	flex: 1 0 auto;
}

div.error {
	text-align: center;
	padding-top: 5px;
	color: red;
}

div.one-goal-item {
	margin-top: 60px;
}

div.category-div,
div.note-div {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	width: 50%;
}

section.add-goal-section,
section.edit-goal-section {
	background: rgb(164, 194, 165);
	border-radius: 10px;
	color: #f2ebf1;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #566246;
	margin: 10px;
}

h2.intro {
	color: rgb(164, 194, 165);
}

img {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

h4 {
	margin: 5px;
	font-weight: 900;
}

h2.goals-header {
	font-weight: 900;
}

div.goal-item,
div.goal-item-info {
	align-items: center;
	background: rgb(164, 194, 165);
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #566246;
	padding-top: 10px;
}

div.goal-item-info {
	color: #f2ebf1;
}

input[type='text'],
textarea {
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-family: inherit;
}

select {
	border-radius: 5px;
	padding: 5px;
	background: white;
	font-family: inherit;
}

div.button-container {
	display: flex;
	align-content: space-around;
}

button {
	margin: 5px;
	background-color: #fbd574;
	color: #4a4a48;
	cursor: pointer;
	border-radius: 28px;
	padding: 10px 20px;
	font-weight: bolder;
	border: none;
	box-shadow: 3px 3px 3px #f2b880;
}

button:disabled {
	background-color: gray;
	box-shadow: none;
}

a:link {
	color: #f1f2eb;
	text-decoration: none;
}

a:visited {
	color: #f1f2eb;
}

a:hover {
	color: #4a4a48;
}

a.nav-link {
	color: #f1f2eb;
}

div.footer-copyright {
	color: #f1f2eb;
}

a.github-link:hover {
	color: #fbd574;
}

div.footer {
	text-align: center;
	/* position:relative; */
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4a4a48;
}

p.beta {
  text-align: center;
}

p.footer-p {
	padding: 5px;
}

@media all and (min-width: 600px) {
	ul {
		width: 50%;
		justify-content: center;
	}

	div.goal-item {
		flex-direction: row;
		align-self: center;
		padding: 10px;
		justify-content: space-between;
	}

	div.goals-list,
	div.edit-goal-div,
	div.add-goal-div {
		display: flex;
		justify-content: center;
	}

	section.edit-goal-section,
	div.add-goal-div {
		justify-content: center;
	}

	div.button-container {
		justify-items: center;
		align-self: center;
		padding: 10px;
	}

	section.add-goal-section,
	section.edit-goal-section {
		width: 50%;
		align-self: center;
	}
}
