* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

div.app {
  display: flex;
  flex-direction: column;
}

main.main-app {
  flex: 1 0 auto;
}

div.error {
  text-align: center;
  padding-top: 5px;
  color: red;
}

div.one-goal-item {
  margin-top: 60px;
}

div.category-div, div.note-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 50%;
}

div.goal-item {
  align-items: center;
}

div.button-container {
  display: flex;
  margin-bottom: 20px;
  align-content: space-around;
}

button {
  margin: 5px;
}

@media all and (min-width: 800px) {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.goal-item {
    flex-direction: column;
    align-self: center;
  }

  h2.goals-header {
    align-self: center;
  }

  div.button-container {
    padding-right: 10px;
    margin-right: 10px;
    justify-items: center;
  }
}





