* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

div.app {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

main.main-app {
  flex: 1 0 auto;
}

div.error {
  text-align: center;
  padding-top: 5px;
  color: red;
}

div.one-goal-item {
  margin-top: 60px;
}

div.category-div, div.note-div {
  display: flex;
  flex-direction: column;
}





