* {
  box-sizing: border-box;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #aaa;
  justify-content: space-evenly;
}

.homepage-link {
  text-align: start;
}

@media all and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}

