div.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #4A4A48;
  justify-content: space-around;
}

.homepage-link {
  text-align: start;
}