h1.addgoal {
  padding-top: 50px;
  text-align: center;
}

div.add-goal {
  text-align: center;
  padding-bottom: 20px;
}

label {
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

section.goal-notes, section.goal-category, section.form-section, section.checkbox-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form textarea {
  height: 50px;
  text-align: center;
}

input#goal-name {
  text-align: center;
}

section.checkbox-section {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}